
/*
*Style with <3 by Irfandhia Firdaus R
*/

/*************
*GLOBAL STYLES
**************/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,p {
  margin: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*************
*MODIFIERS
**************/

.success{
  background-color: #3ac77c;
}

.pending {
  background-color: orange;
}

.text--center{
  text-align: center;
}


/*************
*App Styles
**************/

.app{
  margin: 0;
  min-height: 100vh;
  background-color: #f7f9fa;
}

.orangeHeader{
  width:100vw;
  background-color: #fd6542;
  height: 10px;
  margin-bottom: 5px;
}


/****************************
*Transaction Component Styles
****************************/
.transaction-container{
  margin: auto;
  width: 95%;
}

.transaction-item{
  padding: 10px 5px 10px 20px;
  margin: 15px 0 15px 0;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.transaction-item--label{
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px
}

.transaction-item_success{
  background-image: linear-gradient(to right, #3ac77c, #3ac77c 5px, transparent 5px, transparent 100%);
  background-image: -webkit-linear-gradient(to right, #3ac77c, #3ac77c 5px, transparent 5px, transparent 100%)
}

.transaction-item_pending{
  background-image: linear-gradient(to right, orange, orange 5px, transparent 5px, transparent 100%);
  background-image: -webkit-linear-gradient(to right, orange, orange 5px, transparent 5px, transparent 100%)
}


/****************************
*Search Bar Component Styles
****************************/

.search-bar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar--container{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 95%;
}
.search-bar--icon{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  background: white;
  text-align: center;
  background-image: url(./search-24px.svg);
  background-repeat: no-repeat;
}
.search-bar--input {
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  border-style: none;
  padding: 5px;
  font-size: 1em;
  width: 100%;
  height: 70%;
  border-radius : 5px;
}

.search-bar--input:focus{
  outline-color: #f7f9fa;
}
